# PATHS TO DATA
imageDir /home/fmpaezri/datasets/tracker_benchmark/Doll/img/
networkDir /home/fmpaezri/networks/
trainDatabase /home/fmpaezri/datasets/tracker_benchmark/Doll/train.txt
testDatabase /home/fmpaezri/datasets/tracker_benchmark/Doll/test.txt
allImagesList /home/fmpaezri/datasets/tracker_benchmark/Doll/allImagesList.txt
#lists/2007/trainvalSet2007.txt
trainGroundTruth /home/fmpaezri/datasets/tracker_benchmark/Doll/train_gt.txt
testGroundTruth /home/fmpaezri/datasets/tracker_benchmark/Doll/test_gt.txt
testMemory /home/fmpaezri/networks/testMem/
evaluationIndexType pascal
category Doll
# CONVOLUTIONAL NETWORK
meanImage /home/fmpaezri/repos/caffe/python/caffe/imagenet/ilsvrc_2012_mean.npy
convnetDir /home/datasets/pascal_obj/rcnnFinetunedNet/
convNetDef convnet.deploy.prototxt
trainedConvNet convnet.caffe
imageDim 256
cropSize 227
contextPad 16
convnetLayer fc6
# PROBLEM PARAMETERS
stateFeatures 8262
outputActions 9
temporalWindow 2
historyFactor 1
minAcceptableIoU 0.7
# EXPLORATION PARAMETERS
explorationEpochs 1
epsilonGreedyEpochs 2
exploitLearningEpochs 3
trainInteractions 60
testInteractions 60
minPositiveOverlap 0.5
minTrainingEpsilon 0.1
testEpsilon 0.00
testTimeOut 40
negativeEpisodeProb 0.1
validationEpochs 1
# NETWORK FILES
solverFile solver.prototxt
snapshotPrefix multilayer_qlearner
pretrainedModel multilayer_qlearner_iter_25.caffemodel
# QLEARNING PARAMETERS
gammaDiscountReward 0.7
# NETWORK TRAINING PARAMETERS
trainingIterationsPerBatch 25
trainingBatchSize 256
learningRate 0.0001
gamma 0.15
stepSize 10000000
momentum 0.9
weightDecay 0.0005
# NETWORK DEPLOY PARAMETERS
deployBatchSize 1
