# PATHS TO DATA
imageDir {basePath:s}/img/
networkDir /home/fmpaezri/networks/
trainDatabase {basePath:s}/metadata/train.txt
testDatabase {basePath:s}/metadata/test.txt
allImagesList {basePath:s}/metadata/allImagesList.txt
#lists/2007/trainvalSet2007.txt
trainGroundTruth {basePath:s}/metadata/train_gt.txt
testGroundTruth {basePath:s}/metadata/test_gt.txt
testMemory /home/fmpaezri/networks/testMem/
evaluationIndexType pascal
category {category:s}
# CONVOLUTIONAL NETWORK
meanImage /home/fmpaezri/repos/caffe/python/caffe/imagenet/ilsvrc_2012_mean.npy
convnetDir /home/datasets/pascal_obj/rcnnFinetunedNet/
convNetDef convnet.deploy.prototxt
trainedConvNet convnet.caffe
imageDim 256
cropSize 227
contextPad 16
convnetLayer fc6
# PROBLEM PARAMETERS
stateFeatures 8201
outputActions 9
temporalWindow 1
historyFactor 3
minAcceptableIoU 0.7
# EXPLORATION PARAMETERS
explorationEpochs {explorationEpochs:d}
epsilonGreedyEpochs {epsilonGreedyEpochs:d}
exploitLearningEpochs {exploitLearningEpochs:d}
trainInteractions 20
testInteractions 20
minPositiveOverlap 0.5
minTrainingEpsilon 0.1
testEpsilon 0.00
testTimeOut 40
negativeEpisodeProb 0.0
validationEpochs 1
# NETWORK FILES
solverFile solver.prototxt
snapshotPrefix multilayer_qlearner
pretrainedModel multilayer_qlearner_iter_10.caffemodel
# QLEARNING PARAMETERS
gammaDiscountReward 0.7
# NETWORK TRAINING PARAMETERS
trainingIterationsPerBatch {trainingIterationsPerBatch:d}
trainingBatchSize {trainingBatchSize:d}
learningRate {learningRate:g}
gamma 0.15
stepSize 10000000
momentum 0.9
weightDecay 0.0005
# NETWORK DEPLOY PARAMETERS
deployBatchSize 1
