# PATHS TO DATA
sequenceDir /home/fmpaezri/datasets/tracker_benchmark
imageDir img/
frameSuffix .jpg
gtFile groundtruth_rect.txt
networkDir {basePath:s}/networks/
trainDatabase {basePath:s}/metadata/train.txt
testDatabase {basePath:s}/metadata/test.txt
testMemory {basePath:s}/testMem/
evaluationIndexType pascal
category {category:s}
# CONVOLUTIONAL NETWORK
meanImage /home/fmpaezri/repos/caffemod/python/caffe/imagenet/ilsvrc_2012_mean.npy
convnetDir /home/datasets/cnns/rcnnFinetunedNet/
convNetDef convnet.deploy.prototxt
trainedConvNet convnet.caffe
imageDim 256
cropSize 227
contextPad 16
convnetLayer fc6
# PROBLEM PARAMETERS
stateFeatures 8201
outputActions 9
temporalWindow 1
historyFactor 3
minAcceptableIoU 0.9
# EXPLORATION PARAMETERS
explorationEpochs {explorationEpochs:d}
epsilonGreedyEpochs {epsilonGreedyEpochs:d}
exploitLearningEpochs {exploitLearningEpochs:d}
trainInteractions 8
testInteractions 8
minPositiveOverlap 0.5
minTrainingEpsilon 0.1
testEpsilon 0.00
testTimeOut 40
negativeEpisodeProb 0.0
validationEpochs 1
# NETWORK FILES
solverFile solver.prototxt
snapshotPrefix multilayer_qlearner
pretrainedModel multilayer_qlearner_iter_10.caffemodel
# QLEARNING PARAMETERS
gammaDiscountReward 0.7
# NETWORK TRAINING PARAMETERS
trainingIterationsPerBatch {trainingIterationsPerBatch:d}
trainingBatchSize {trainingBatchSize:d}
learningRate {learningRate:g}
gamma 0.15
stepSize 10000000
momentum 0.9
weightDecay 0.0005
# NETWORK DEPLOY PARAMETERS
deployBatchSize 1
