--summaryPath
/home/fmpaezri/repos/localization-agent/summaries/cocoSummaryCategAndSideGt100Smpls10000.pkl
--trajectoryModelPath
/home/fmpaezri/repos/localization-agent/notebooks/gmmDenseAbsoluteNormalizedOOT.pkl
--imageDir
/home/datasets/MSCOCO/
--generationBatchSize
64
--caffeRoot
/opt/caffe/
--debug
